body {
}

* {
  box-sizing: border-box;
}

body, html {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: rgba(255, 246, 230, 0.5);
  margin: 0 auto;
  position: center;
  max-width: 70%;
  color: rgba(22, 54, 25, 0.82);
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=number], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: rgba(21, 49, 24, 0.72);
  color: #a6c588;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

.error {color: #FF0000;}

.navbar {
  overflow: hidden;
  margin: 0 auto;
  background-color: rgba(21, 49, 24, 0.72);
  position: center;
  top: 0;
  width: 70%;
}

.headnav {
  margin-top: 100px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: rgba(255, 253, 177, 0.22);
  color: rgba(255, 213, 27, 0.53);
}